<div class="container-trans">
  <%= render '/shared/header' %>
    <main class="vertical-tabs">
  <!-- Nav tabs -->
      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code">Coding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="byrd-tab" data-toggle="tab" href="#byrd" role="tab" aria-controls="byrd">Byrd's words</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="interests-tab" data-toggle="tab" href="#interests" role="tab">Interests</a>
        </li>
      </ul>

      <!-- Tab panes -->
  <div class="tab-content">
    <% @blogs.each do |blog| %>
      <% if blog.style == 'Code' %>
        <div class="tab-pane fade show active" id="code" role="tabpanel">
          <li class="tab-display">
            <div class="card">
              <%= blog.title %>
            </div>
          </li>
        </div>
      <% elsif blog.style == 'Personal' %>
        <div class="tab-pane" id="byrd" role="tabpanel">
          <li class="tab-display">
            <div class="card">
              <%= blog.title %>
            </div>
          </li>
        </div>
      <% else %>
        <div class="tab-pane" id="interests" role="tabpanel">
          <li class="tab-display">
            <div class="card">
              <%= blog.title %>
            </div>
          </li>
        </div>
      <% end %>
      <% end %>
    </div>
  </main>
    <%= render '/shared/footer' %>
</div>





