<div class="container-trans">
  <img src="<%= image_path('face.png') %> " alt="myFace" class="bg-img">
  <%= render '/shared/header' %>
    <main class="vertical-tabs">
  <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="code-tab" data-toggle="tab" href="#Code" role="tab">Coding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="personal-tab" data-toggle="tab" href="#Personal" role="tab">Byrd's words</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="artists-tab" data-toggle="tab" href="#Artists" role="tab">Interests</a>
        </li>
      </ul>

      <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="Code">
        <p class="tab-desc">Words about the ride into the valley of code</p>
        <% @code_blogs.each do |blog| %>
          <%= link_to blog_path(blog), class: "card-blog" do  %>
            <%= blog.title %>
            <small class="text-right">Written on <%= blog.created_at.time.strftime("%B %d, %Y") %></small>
            <img src="<%= image_path "code/#{blog.handle}.png" %>" alt="code-random" class="img-blog-one">
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane" id="Personal" >
        <p class="tab-desc">Personal entries: poetry and articles I've written</p>
        <% @personal_blogs.each do |blog| %>
          <%= link_to blog_path(blog), class: "card-blog" do  %>
            <%= blog.title %>
            <small class="text-right d-flex align-items-end">Written on <%= blog.created_at.time.strftime("%B %d, %Y") %></small>
            <img src="<%= image_path "personal/#{blog.handle}.png" %>" alt="code-random" class="img-blog-one">
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane" id="Artists">
      <p class="tab-desc">Artists and companies I admire</p>
        <% @artists_blogs.each do |blog| %>
          <%= link_to blog_path(blog), class: "card-blog" do  %>
            <%= blog.title %>
            <small class="text-right">Written on <%= blog.created_at.time.strftime("%B %d, %Y") %></small>
            <small class="text-right">Find on Instagram @<%= blog.handle %></small>
            <img src="<%= image_path "#{blog.handle}/#{rand(1...4)}.png" %>" alt="code-random" class="img-blog-two">
          <% end %>
        <% end %>
        </li>
      </div>
    </div>
  </main>
  <%= render '/shared/footer' %>
</div>





