<div class="container-trans">
  <%= render '/shared/header' %>
      <main id="top-blog">
        <ul>
          <div class="page-content">
            <% @blogs.each do |blog| %>
                <div class="<%= update_class(blog) %>">
                   <%= link_to blog_path(blog), style: "text-decoration: none" do %>
                  <li>
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text"><%= (blog.content).first(100) %> ..... </p>
                  </li>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </main>
    <%= render '/shared/footer' %>
</div>
