<div class="<%= update_container_class(@blog) %>">
  <%= render '/shared/header_transp' %>

      <article class="col-12 col-lg-12 col-md-8 col-sm-12">
        <h3><%= @blog.title %></h3>
        <p><%= @blog.content %></p>
      </article>
    <main class="text-center col-12 col-lg-12 col-md-12 col-sm-12">
      <%= link_to "Back to Thought Edifice", blogs_path, class: 'btn btn-primary'  %>
      <br><br>
      <%= link_to "Create new blog", new_blog_path  %>
    </main>
     <footer><%= render '/shared/footer' %></footer>
</div>

