<div class="container-project" id="container-works">
    <img src="<%= image_path('faceWorks.png') %> " alt="myFace" class="bg-img">
    <%= render '/shared/header' %>
          <% @works.each do |work| %>
        <main class="card">
          <h5 class="card-header">
            <%= work.title %>
            <span>Created using the Rails framework, Ruby, CSS, JS, and HTML</span>
          </h5>
            <div class="card-body">
                <p class="card-text"><%= work.content %></p>
                <p class="card-text"><%= render 'shared/carousel'%></p>
            </div>
            <div class="card-footer">
                    <div class="icons-card-footer">
                      <%= link_to 'https://www.github.com/elbyrd09', target: "_blank", style: "text-decoration: none;" do %>
                      <i class="fab fa-github"></i> &nbsp See <%= work.title %>'s codebase
                      <% end %>
                      <%= link_to 'https://party-reel.herokuapp.com/', target: "_blank", style: "text-decoration: none;" do %>
                      See the <%= work.title %> web application
                      <% end %>
                  </div>
              <% end %>
            </div>
      </main>
        <main id="project-upc">
          <h3>Non-profit and freelance work</h3><br>
          <h5>Taproot Foundation</h5>
            <p>Volunteer programming work for 1-4 month engagements</p><br>
            <p>Vav Achieve - Nonprofit retirment coaching website for vulnerable women: WordPress & Advisory Support</p>
          <h5>Brooklyn Technical High School</h5>
            <p>Building Notable Alumni Site to showcase school's esteemed graduates: Implementing WP Loop to dynamically load alumni profiles</p>
          <p><span style="color: orange;">Interests in</span> philanthropic projects, entertainment, social media, healthcare blockchain, and digital security</p>
        </main>
</div>

