<div class="container-project" id="container-works">
    <img src="<%= image_path('faceWorks.png') %> " alt="myFace" class="bg-img">
    <%= render '/shared/header' %>
          <% @works.each do |work| %>
        <main class="card">
          <h5 class="card-header">
            <%= work.title %>
            <span>Created using the Rails framework, Ruby, CSS, JS, and HTML</span>
          </h5>
            <div class="card-body">
                <p class="card-text"><%= work.content %></p>
                <p class="card-text"><%= render 'shared/carousel'%></p>
            </div>
            <div class="card-footer">
                    <div class="icons-card-footer">
                      <%= link_to 'https://www.github.com/elbyrd09', target: "_blank", style: "text-decoration: none;" do %>
                      <i class="fab fa-github"></i> &nbsp See <%= work.title %>'s codebase
                    <%= link_to 'https://trello.com/b/5KlWXW7T/party-reel-2020', target: "_blank", style: "text-decoration: none;" do %>
                      <i class="fab fa-trello"></i> &nbsp See how I corral my development team
                      <% end %>
                      <% end %>
                  </div>
              <% end %>
            </div>
      </main>
        <main id="project-upc">
          <h3>Upcoming Projects</h3><br>
          <h5>Taproot Foundation</h5>
            <p>Volunteer programming work for 1-4 month engagements</p><br>
          <h5>Anomalus Concept</h5>
            <p>Freelance app build for immersive events company out of Brooklyn:<br>
            E-commerce, blog implementation, and virtual event space</p><br><br>
          <h4><span style="color: orange;">Interests in</span> philanthropic projects, entertainment, social media, healthcare blockchain, and digital security</h4>
        </main>
    <footer>
      <%= render '/shared/footer' %>
    </footer>
</div>

