  <div id="carouselContent" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="<%= image_path('PR/PR1.png') %>" alt="Party Reel">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('PR/PR2.png') %>" alt="Party Reel">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('PR/PR3.png') %>" alt="Party Reel">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('PR/PR4.png') %>" alt="Party Reel">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('PR/PR5.png') %>" alt="Party Reel">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('PR/PR6.png') %>" alt="Party Reel">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('PR/PR7.png') %>" alt="Party Reel">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('PR/PR8.png') %>" alt="Party Reel">
      </div>
    </div>
</div>


