<header class="header">
  <div class="header-content">
    <%= link_to '/', class: 'font-title' do %>
    <div class="title-byrd">
<!--       <span style="color: #1B7FF6"> &nbsp//<span>
 -->      <h1 data-heading="L">E.L Byrd</h1>
    <% end %>
  </div>

    <div class="card-deck">
          <a href="/works" class="card">
            <p class="card-title">Projects</p>
          </a>
          <a href="/blogs" class="card">
            <p class="card-title">Blog</p>
          </a>
      </div>
    <nav class="nav-class">
      <ul class="class-nav" target="_blank">
        <!-- using a classless li since top-nav a tag will have same styling -->
        <li class="nav-icon" id="hide-nav">
          <a href="/blogs">
            <p class="card-title" style="color: rgba(28,126,243,.9);">Blog</p>
          </a>
        </li>
        <li class="nav-icon" id="hide-nav">
          <a href="/works">
            <p class="card-title" style="color: rgba(28,126,243,.9);">Projects</p>
          </a>
        </li>
        <li class="nav-icon" id="hide-nav">
          <a href="/about">
            <p class="card-title" style="color: rgba(255,255,255,.6);">About me</p>
          </a>
        </li>
        <li class="nav-icon">
          <%= mail_to "elbyrd09@gmail.com", target: "_blank" do %>
            <i class="far fa-envelope"></i>
          <% end %>
        </li>
        <li class="nav-icon">
          <%= link_to 'https://www.instagram.com/party.reel/', target: "_blank" do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </li>
        <li class="nav-icon">
           <%= link_to 'https://www.linkedin.com/in/evanbyrd', target: "_blank" do %>
            <i class="fab fa-linkedin-in"></i>
          <% end %>
        <li class="nav-icon">
          <%= link_to 'https://www.github.com/elbyrd09', target: "_blank" do %>
            <i class="fab fa-github"></i>
          <% end %>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
  </div>
</header>



