<div class="container-about">
<%= render 'shared/header' %>
  <article class="text-left">
    <h2 class="py-5">Who am I, you ask?</h2>
      <p id="about-me">
        I’m an American Full Stack Developer, out in the world, doing my thang.  I studied at Le Wagon’s Full Stack Bootcamp in Bali, Indonesia for 9 weeks in the Winter of 2020.  I love working on projects that propel the user into thoughtful, sleek and intuitive digital experiences.</p><br>
      <p id="about-me">
        I build collaboratively and leverage learnings as a Product Manager to lead small teams.  I see my background as an asset to blend seamlessly into new teams with an array of hard and soft skills.  Let’s connect to speak more about my interests in healthcare, gaming, live entertainment, and educational companies particularly in software engineering.</p><br>
      <p id="about-me">
        I’m looking for Full Stack, Front End, or freelance roles within the US or remote teams.  I’m experienced with Ruby, Javascript, CSS, HTML, Javascript, Ruby on Rails, TDD, Adobe Illustrator, Adobe Lightroom, Microsoft Office Suite, JIRA, Asana, and Agile.</p><br>
      <p id="about-me">
        I like writing about code + poetry, watching Civil Engineering videos on YouTube, snowboarding, and pickling thangs!</p><br>
     <%= mail_to "elbyrd09@gmail.com", target: "_blank", class: "text-left", id:"about-me", style:"font-size: normal; color: orange;" do %>
        <p> Available for Freelancing </p>
      <% end %>
  </article>
        <main class="about-contact">
          <span class="text1">
          <p style="color: white;">Contact me anytime</p><br>
    <%= mail_to "elbyrd09@gmail.com", target: "_blank", id: "mail-about" do %>
              <i class="far fa-envelope"></i>&nbsp elbyrd09@gmail.com
            <% end %><br>
            <%= link_to "See my resume", "/PDF/resume_Evan_Byrd.pdf", target: "_blank", id: "mail-about"  %>
          </span>
        </main>
        <main>
          <%= image_tag "ELB.png", alt: "alttext", id: 'evan-image' %>
        </main>
  <%= render 'shared/footer' %>
</div>





